$base-1: #292929;
$base-2: #dadada;
$base-3: #e6e4f2;
$base-4: #f6f6f6;
$base-5: #797979;
$base-6: #ffffff;
$base-7: #a6a6a6;
$red-1: #c93849;
$red-2: #ff9d48;
$red-3: #f2674a;
$red-4: #e44f44;
$red-5: #cf3c47;
$red-6: #9d1847;
$red-7: #840e44;
$green-1: #66c977;
$green-2: #4f995c;
$green-3: #52ac62;
$green-4: #00d35b;
$green-5: #38c95a;
$map-1: #f2e5d4;
$map-2: #acbcc9;
$map-3: #c5dac6;
$map-4: #c5c6c6;
$map-5: #e4d7c6;
