.col-half {
  height: 100%;
  width: 49.99%;
  float: left;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include pad {
    width: 100%;
    display: block;
    height: auto;
    padding: 60px 0;
  };
}
.col-center {
  // &:before {
  //   display: inline-block;
  //   content: '';
  //   vertical-align: middle;
  //   height: 100%;
  //   width: 0;
  // }
  // * {
  //   vertical-align: middle;
  // }
}
