.slide-1 {
  padding: 40px;
  box-sizing: border-box;
  @include pad {
    padding: 10px;
  };
  &__back {
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom right, #e4ebeb, #fff, #e4ebeb);
  }
  &__img {
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: 113px;
    background-size: 455px;
    @include pad {
      background-position-y: 900px;
    };
  }
  &__wrap {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  h1 {
    font-size: 3em;
    color: $base-2;
    margin-bottom: 20px;
    font-weight: bold;
    text-transform: uppercase;
  }
  h2 {
    font-size: 1.6em;
    margin-bottom: 90px;
    text-transform: uppercase;
  }
  p {
    color: $base-3;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  &__see-more {
    position: absolute;
    box-sizing: border-box;
    bottom: 160px;
    @include pad {
      bottom: 135px;
    };
    @include desktop {
      &:before {
        display: block;
        content: '';
        position: absolute;
        width: 200px;
        height: 1px;
        top: 25%;
        left: -220px;
        background: $base-4;
      }
      &:after {
        display: block;
        content: '';
        position: absolute;
        width: 200px;
        height: 1px;
        top: 25%;
        right: -220px;
        background: $base-4;
      }
    };
    p {
      color: $base-1;
    }
  }
  &__next {
    position: absolute;
    bottom: 120px;
    @include pad {
      bottom: 80px;
    };
    button {
      border: none;
      background: none;
      cursor: pointer;
      outline: none;
    }
  }
}
