.button {
  border: none;
  cursor: pointer;
  outline: none;
  text-transform: uppercase;
  padding: 10px;
  color: $base-1;
  font-weight: bold;
  position: relative;
  background: none;
  &:before {
    position: absolute;
    display: block;
    content: '';
    left: 0;
    top: 0;
    bottom: 0;
    width: 0%;
    z-index: -1;
    background-color: $base-5;
    transition: .3s ease-out;
  }
  &:after {
    position: absolute;
    display: block;
    content: '';
    right: 0;
    top: 0;
    bottom: 0;
    width: 40%;
    z-index: -1;
    background-color: $base-5;
    transition: .3s ease-out;
  }
  i {
    margin-left: 20px;
    vertical-align: middle;
    color: $base-4;
    transition: .3s ease-out;
    &:before {
      display: inline-block;
      vertical-align: middle;
    }
  }
  &:hover {
    &:before {
      width: 40%;
      transition: .3s ease-in;
    }
    &:after {
      width: 0%;
      transition: .3s ease-in;
    }
    i {
      color: $base-1;
      transition: .3s ease-in;
    }
  }
  &-half {
    box-sizing: border-box;
    width: 47%;
    margin-left: 5%;
  }
  &-full {
    box-sizing: border-box;
    width: 100%;
  }
  &.button-link {
    color: $base-4;
    text-align: left;
    transition: .3s ease-out;
    padding: 10px 0;
    i {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      display: block;
      margin: auto;
      width: 14px;
      height: 14px;
    }

    &:before {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0px;
      display: block;
      content: '';
      border-bottom: 2px solid;
      color: $base-5;
      background: none;
      width: 100%;
    }
    &:after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0px;
      display: block;
      content: '';
      border-bottom: 2px solid;
      color: $base-1;
      transition: .3s ease-out;
      background: none;
    }
    &:hover {
      text-decoration: none;
      color: $base-1;
      transition: .3s ease-in;
      &:after {
        width: 100%;
        border-bottom:2px solid;
        transition: .3s ease-in;
      }
      &:before {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0px;
        display: block;
        content: '';
        border-bottom: 2px solid;
        color: $base-5;
        background: none;
        width: 100%;  
      }
    }
  }
}
