.link {
  color: $base-1;
  position: relative;
  text-decoration: none;

  &:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0px;
    display: block;
    content: '';
    border-bottom: 2px solid;
    transition: .3s ease-out;
  }
  &:hover {
    color: $base-1;
    text-decoration: none;
    &:after {
      width: 100%;
      border-bottom:2px solid;
      transition: .3s ease-in;
    }
  }
}
